@use "./theme/colors";

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    height: 100%;
    color: colors.$black;
}

* {
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    fill: currentColor;
}
