>1%
last 2 versions
not dead
not android < 100
not and_qq < 100
not and_uc < 100
not baidu < 100
not bb < 100
not ie < 100
not ie_mob < 100
not ios_saf < 14
not kaios < 100
not opera < 1000
not op_mini all
not op_mob < 100
not safari < 14
not samsung < 100
